
body{
    margin-left: .5px;
}

h1{
    margin-top: .3em;
    text-align: center;
}

.product{
    border: 1px solid black;
    padding: 1em;
    background-color: teal;
    border-radius: 10px;
    height: 200px;
    width: 30%;
    box-sizing: border-box;
}

.product > img{
    border-radius: 10px;
    float: left;
    margin-right: 1em;
}